node_modules
dist
.DS_Store
server/public
vite.config.ts.*
*.tar.gz

# build
/dist
/node_modules

# entorno
.env
.envproduction
 
# Imágenes y archivos temporales
/algebra_imagenes/
/estadistica_imagenes/
/scratch/
/*.ts.local
